<%%= if @live_action in [:edit] do %>
  <.modal return_to={Routes.<%= schema.route_helper %>_show_path(@socket, :show, @<%= schema.singular %>)} title={@page_title}>
    <.live_component
      module={<%= inspect context.web_module %>.<%= inspect Module.concat(schema.web_namespace, schema.alias) %>Live.FormComponent}
      id={@<%= schema.singular %>.id}
      title={@page_title}
      action={@live_action}
      <%= schema.singular %>={@<%= schema.singular %>}
      return_to={Routes.<%= schema.route_helper %>_show_path(@socket, :show, @<%= schema.singular %>)}
    />
  </.modal>
<%% end %>

<div class="p-6 mx-auto max-w-2xl">
  <div class="flex pb-6">
    <div class="w-/12 flex-1 text-4xl">
      <h1 class="-mb-2 mt-2"><%= schema.human_singular %></h1>
    </div>
    <div class="w-/12 text-4xl text-right">
      <%%= styled_button_live_patch "Edit", to: Routes.<%= schema.route_helper %>_show_path(@socket, :edit, @<%= schema.singular %>), class: "button" %>
      <%%= styled_button_live_redirect "Back", to: Routes.<%= schema.route_helper %>_index_path(@socket, :index) %>
    </div>
  </div>

  <div class="bg-white shadow rounded px-4 py-6 bg-white">
    <%= for {k, _} <- schema.attrs do %>
      <div>
        <strong><%= Phoenix.Naming.humanize(Atom.to_string(k)) %>:</strong>
        <%%= @<%= schema.singular %>.<%= k %> %>
      </div>
    <% end %>
  </div>
</div>
