/* hljs theme built using tailwind

/* Comment */
.hljs-comment,
.hljs-quote {
  color: var(--positive-color);
}

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: var(--highlight-color);
}

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: var(--warning-color);
}

/* Yellow */
.hljs-attribute {
  color: var(--attribute-color);
}

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: var(--string-color);
}

/* Blue */
.hljs-title,
.hljs-section {
  color: var(--section-color);
}

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: var(--keyword-color);
}

.hljs {
  /* stylelint-disable custom-property-empty-line-before, function-no-unknown */
  @apply mt-6 mb-12 border-l-4 border-indigo-900 font-mono;
  --background-color: theme("colors.indigo.100");
  --attribute-color: theme("colors.orange.700");
  --section-color: theme("colors.teal.700");
  --string-color: theme("colors.green.700");
  --keyword-color: theme("colors.indigo.900");
  /* stylelint-enable custom-property-empty-line-before, function-no-unknown */

  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--body-color);
  background: var(--background-color);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight;
  }

  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold;
  }
}
